/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 900 */

.rubik-regular1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #BBC0FF;
}

.rubik-regular2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #7078C9;
    text-align: start;
    margin-bottom: 21px;
}

#monthlyBtn {
    margin-bottom: 0;
}

.rubik-regular2:hover {
    color: white;
}

.rubik-medium {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 18px;
    color: white;
}

.rubik-light1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    color: white;
}

.rubik-light2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 56px;
    color: white;
}

.userTextPadding {
    padding: 30px;
}

.selected {
    color: white;
}

body {
    background-color: #0E1323;
}

* {
    border-radius: 15px;
}

button {
    border: none;
    background-color: transparent;
}

.cardsGrid {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0 10%;
}

@media (max-width: 1200px) {
    .cardsGrid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.userCard {
    grid-row: span 2;
    /* display: flex;
    flex-direction: column; */

}

.workCard {

}

.playCard {

}

.studyCard {

}

.exerciseCard {

}

.socialCard {

}

.selfCareCard {

}


@media (max-width: 1200px) {
    .userCard {
        grid-column: 1 / span 3;
        grid-row: 1;
    }
}

.userBg,
.categoryFg {
    background-color: #1C204B;
    /* border-radius: 15px; */
}

.categoryFg {
    /* height: 200px; */
    grid-column: 1 / span 10;
    grid-row: 3 / span 10;
    padding: 1.875rem;
}

.categoryFg:hover {
    background-color: #33397A;
}

.mainFg {
    background-color: #5747EA;
    padding: 30px;
}

.workBg {
    background-color: #FF8B64;

}

.playBg {
    background-color: #55C2E6;
}

.studyBg {
    background-color: #FF5E7D;
}

.exerciseBg {
    background-color: #4BCF82;
}

.socialBg {
    background-color: #7335D2;
}

.selfCareBg {
    background-color: #F1C75B;
}

.workBg,
.playBg,
.studyBg,
.exerciseBg,
.socialBg,
.selfCareBg {
    /* padding-top: 2.813rem; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.mainFg img {
    height: 5.5rem;
    width: 5.5rem;
    border: 3px solid white;
    border-radius: 100%;
}

.workBgImg {
    background-image: url(../images/icon-work.svg);
}

.playBgImg {
    background-image: url(../images/icon-play.svg);
}

.studyBgImg {
    background-image: url(../images/icon-study.svg);
}

.exerciseBgImg {
    background-image: url(../images/icon-exercise.svg);
}

.socialBgImg {
    background-image: url(../images/icon-social.svg);
}

.selfCareBgImg {
    background-image: url(../images/icon-self-care.svg);
}

.workBgImg,
.playBgImg,
.studyBgImg,
.exerciseBgImg,
.socialBgImg,
.selfCareBgImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-column: 7 / span 3;
    grid-row: 1 / span 3;
}